/* ABOUT */
.about {
  position: relative;
}
.about__container {
  row-gap: 2rem;
  overflow-y: clip;
}
.about__data .section__title {
  margin-bottom: 1.5rem;
  text-align: initial;
}
.about__description {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}
.about__description b {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}
.about__image {
  position: relative;
  justify-self: center;
}
.about__image .blob-animate:nth-child(1) {
  top: 1.5rem;
  left: 1rem;
}
.about__image .blob-animate:nth-child(2) {
  right: -0.5rem;
  bottom: 0.5rem;
}
.about__perfil {
  width: 380px;
  background: transparent;
  border-radius: 50%;
}
.about__shadow {
  width: 100%;
  height: 258px;
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  background: linear-gradient(
    180deg,
    hsla(240, 100%, 2%, 0) 60%,
    var(--body-color) 95%
  );
}

/*=============== DESKTOP (Media Queries) ===============*/

/* For medium devices */
@media screen and (min-width: 540px) {
  .about__container {
    grid-template-columns: 460px;
    justify-content: center;
  }

  .about__data,
  .about__data .section_title {
    text-align: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .about__container {
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    column-gap: 5.5rem;
    padding-top: 2rem;
  }
  .about__data,
  .about__data .section__title {
    text-align: initial !important;
    z-index: 2;
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .about__image {
    order: -1;
  }
  .about__image .blob-animate {
    width: 200px;
    height: 200px;
    filter: blur(50px);
  }

  .about__image .blob-animate:nth-child(1) {
    top: 4rem;
    left: 4rem;
  }
  .about__image .blob-animate:nth-child(2) {
    right: -1rem;
    bottom: 3rem;
  }
  .about__prefil {
    width: 500px;
  }

  .about__shadow {
    height: 600px;
    bottom: 0;
  }
}
