/* HOME */
.home {
  position: relative;
}
.home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}
.home__greeting {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}
.home__name {
  font-size: var(--bigger-font-size);
}
.home__image {
  position: relative;
  display: grid;
  overflow-x: clip;
}
.home__image .blob-animate {
  width: 250px;
  height: 250px;
  bottom: 0;
  justify-self: center;
}
.home__perfil {
  width: 320px;
  justify-self: center;
  border-radius: 80%;
}
.home__shadow,
.home__info,
.home__social,
.home__cv {
  position: absolute;
}
.home__shadow {
  width: 100%;
  height: 375px;
  bottom: 1rem;
  z-index: 1;
  background: linear-gradient(
    180deg,
    hsla(240, 100%, 2%, 0) 60%,
    hsl(240, 100%, 2%) 85%
  );
}
.home__info {
  z-index: 2;
  bottom: 2rem;
  justify-self: center;
}
.home__split {
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}
.home__profession-1,
.home__profession-2 {
  font-size: var(--bigger-font-size);
  text-align: center;
  overflow: hidden;
}
.home__profession-1 {
  position: relative;
  color: var(--first-color);
}
.home__profession-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, hsl(0, 0%, 0%) 10%, hsla(0, 0%, 0%, 0) 60%);
}
.home__profession-2 {
  transform: translateY(-1rem);
}
.home__social {
  z-index: 2;
  left: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.home__social-link {
  color: var(--title-color);
  font-size: 1.25rem;
  transition: transform 0.4s, color 0.4s;
}
.home__social-link:hover {
  color: var(--first-color);
  transform: translateX(-0.25rem);
}
.home__cv {
  z-index: 2;
  right: -2rem;
  bottom: 2.5rem;
  rotate: -90deg;
  color: var(--text-color-light);
  font: var(--font-medium) var(--small-font-size) var(--second-font);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.4s;
}
.home__cv i {
  font-size: 1rem;
}
.home__cv:hover {
  color: var(--first-color);
}

/*=============== DESKTOP (Media Queries) ===============*/

/* For small devices (max-width) */
@media screen and (max-width: 320px) {
  /* Specific override for the home image blob */
  .home__image .blob-animate {
    display: none;
    width: 220px;
    height: 220px;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home__container {
    width: 460px;
    margin-inline: auto;
  }
}

/* For medium devices (cont.) */
@media screen and (min-width: 768px) {
  .home__container {
    width: 600px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .home__container {
    width: initial;
    padding-top: 3rem;
  }

  .home__perfil {
    width: 550px;
  }

  .home__image .blob-animate {
    width: 450px;
    height: 450px;
    bottom: 2rem;
    filter: blur(50px);
  }

  .home__shadow {
    width: 700px;
    height: 700px;
    left: 0;
    right: 0;
    margin-inline: auto;
    background: linear-gradient(
      180deg,
      hsla(240, 100%, 2%, 0) 60%,
      hsl(240, 100%, 2%) 95%
    );
  }

  .home__data {
    position: absolute;
    top: 12rem;
    left: 2.5rem;
    z-index: 2;
  }

  .home__info {
    top: 12rem;
    right: 1rem;
    bottom: initial;
  }

  .home__split {
    font-size: var(--h2-font-size);
  }

  .home__profession-1 {
    font-size: var(--bigger-font-size);
    text-align: initial;
  }

  .home__profession-2 {
    margin-top: 0.7rem;
    font-size: var(--bigger-font-size);
    text-align: initial;
    transform: translateY(-1.5rem);
  }

  .home__social {
    bottom: 3rem;
    row-gap: 1.5rem;
  }

  .home__social-link {
    font-size: 1.5rem;
  }

  .home__cv {
    font-size: var(--normal-font-size);
    rotate: 0deg;
    right: 0;
  }
}
