/* PROJECTS */
.projects .section__title {
  text-align: initial;
  margin-left: 1.5rem;
}
.projects__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.projects__card .blob {
  z-index: 0;
  right: -7.75rem;
  bottom: 0;
}
.projects__number,
.projects__data,
.projects__image {
  position: relative;
  z-index: 1;
}
.projects__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__number h1 {
  font-size: var(--bigger-font-size);
}
.projects__number h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
}
.projects__data {
  margin-block: 2rem;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}
.projects__subtitle {
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}
.projects__description {
  margin: 4px;
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}
.projects__image {
  margin-top: 1.5rem;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.projects__img {
  transition: transform 0.4s;
}
.projects__card:hover .projects__img {
  transform: scale(1.1);
}
.projects__button {
  width: 48px;
  height: 48px;
  background-color: var(--body-color);
  color: var(--title-color);
  border: 2px solid var(--first-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  transition: background-color 0.4s, color 0.4s;
  opacity: 0;

  top: 0.75rem;
  right: 0.75rem;
  pointer-events: none;
}
.projects__button:hover {
  background-color: var(--first-color-alt-2);
  color: var(--body-color);
}

.projects__image:hover .projects__button {
  opacity: 1;
  pointer-events: initial;
}

.projects__swiper {
  margin-inline: initial;
  padding-bottom: 2rem;
}

.projects .siwper-pagination-bullet {
  bottom: 0;
}

.projects .siwper-pagination-bullet {
  background-color: var(--first-color);
  transition: opacity 0.4s;
}

/* desktop */
/* For small devices (max-width) */
@media screen and (max-width: 320px) {
  .projects__card {
    padding-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .projects.section__title {
    text-align: center;
    margin-left: 0;
  }

  .projects__card {
    width: 350px !important;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .section__title {
    text-align: center !important;
  }
  .projects {
    padding-block: 9rem 4rem;
  }

  .projects__title span {
    font-size: var(--normal-font-size);
  }

  .projects__swiper {
    padding-bottom: 4rem;
  }

  .projects__number {
    flex-shrink: 0;
  }

  .projects__container {
    max-width: 1380px;
  }

  .projects__card {
    height: 500px !important;
    padding: 2.5rem;
    border-radius: 4rem;
  }

  .projects__subtitle,
  .projects__description {
    font-size: var(--normal-font-size);
  }

  .projects__img {
    position: static;
    bottom: initial;
    border-radius: 2rem;
  }

  .projects__button {
    width: 52px;
    height: 52px;
    font-size: 2rem;
    top: 1.5rem;
    right: 1.5rem;
  }
}
