/* WORK */
.work__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.work__button {
  background-color: transparent;
  color: var(--title-color);
  font-family: var(--second-font);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  transition: color 0.4s;
}
.work__button i {
  font-size: 1.5rem;
}
.work__area {
  position: relative;
  padding-left: 2rem;
}
.work__card {
  margin-bottom: 2rem;
}
.work__data {
  display: flex;
  justify-content: space-between;
}
.work__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.work__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}
.work__year {
  font-size: var(--h1-font-size);
}
.work__line {
  width: 4px;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 60%, 64%, 0),
    var(--first-color-alt-2)
  );
  position: absolute;
  left: -0.25rem;
}
.work__line::after {
  content: "";
  width: 16px;
  height: 16px;
  background: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -6px;
}
/* Show / hide */
.work__area [data-content] {
  display: none;
}

.work__content.work-active {
  display: grid;
}
.work__button.work-active {
  color: var(--first-color);
}

/* desktop */
/* For small devices (max-width) */
@media screen and (max-width: 320px) {
  .work__card {
    padding-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .work__container {
    grid-template-columns: 460px;
    justify-content: center;
  }

  .work__tabs {
    width: 350px;
    justify-self: center;
  }
}

/* For medium devices (cont.) */
@media screen and (min-width: 768px) {
  .work__container {
    grid-template-columns: 600px;
  }

  .work__area {
    padding-left: 0;
  }
  .work__card {
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    column-gap: 3rem;
  }

  .work__line {
    left: 0;
    right: 0;
    margin-inline: auto;
  }
  .work__subtitle {
    width: 85%;
  }
  .work__description {
    width: 45%;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .work__container {
    grid-template-columns: 1050px;
    row-gap: 3rem;
  }

  .work__content {
    row-gap: 5rem;
  }
  .work__card {
    grid-template-columns: repeat(2, 450px);
    column-gap: 9rem;
  }

  .work__title {
    font-size: var(--bigger-font-size);
  }

  .work__subtitle {
    font-size: var(--h3-font-size);
  }
}
