/* CURSOR */
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 50px;
  height: 50px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  box-shadow: 0 0 30px var(--first-color);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.2s ease-out, left 0.2s ease-out, top 0.2s ease-out,
    width 0.3s, height 0.3s;
}
.hide-cursor {
  width: 0;
  height: 0;
}
/*=============== DESKTOP (Media Queries) ===============*/
/* Custom cursor is hidden for mobile devices */
@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}
